#fejlec{
    width: 100%;
    color: #06213F;
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
    border-bottom: 40px solid #06213F;
}

html{
    overflow-x: hidden;
}

#fejlec span{
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
}

#fejlec img{
    max-width: 100px;
    box-shadow:5px 5px 10px 0px #444444;;
}

#cim{
    font-size: 4rem;
    text-align: center;
    max-width: 1000px;
    color:black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
    background-color: white;
    background-size: cover;
    text-align: center;
    color: black;
    border-radius: 20px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer{
    text-align: right;
}


#teremList{
    color: black;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    width: 32%;
    max-height: 200px;
    min-height: 0px;
    overflow-y:auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 1;
}

.teremclick{
    padding-left: 10px;
}

.teremclick:hover{
    cursor: pointer;
    background-color: grey;
}

#menugomb{
    cursor: pointer;
    float: left;
    position: relative;
    right: 0;
    top:-30px;
    left: 94%;
    background-color: rgb(200,200,200);
    color: white;
    width: 5%;
    height: 30px;
    font-size:2.5vh;
    border: 1px solid rgb(118, 118, 118);
}



#tagek{
    background-color: white;
    padding: 10px;
    width: 32%;
    border: 2px solid black;
    overflow: auto;
    position: absolute;
    overflow: auto;
    z-index: 1;
}

#tagipt{
    border: 1px solid rgb(118, 118, 118);
    min-height: 29.2px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    height: 30px;
}

#selectedtags{
    position: relative;
    left: 5px;
    float: left;
    margin-top: 5px;
    max-width: 312px;
    overflow:hidden;
}

#extrajell{
    position: absolute;
}


#ipttag{
    padding: 0;
}

#ipttag input{
    width: 90%;
}

#ipttxt input{
    width: 90%;
}


.tags{
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    border: solid black 1px;
    border-radius: 40px;
    max-height: 20px;
    max-width: 90px!important;
    color: black;
    padding-left: 5px;
    padding-right: 10px;
    max-width: auto;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

#kereses{
    height: 70%;
    width: 70%;
    transform: translateY(20%);
    color: white;
    background-color: rgb(0, 128, 0);
    border-radius:1.2rem;
    padding: 0;
}

#kereses:hover{
    background-color: rgb(0, 188, 0);
}

.nav{
    max-width: 40px;
    filter: brightness(0.8);
}
.nav:hover{
    cursor: pointer;
    filter: brightness(1.5);
}


#kivcont{
    font-size: 1rem;
}

#embed{
    background-color: white;
    max-width: 100%;
    margin: auto;
}

#info{
    text-align: left;
    min-height: 150px;
}

#szint{
    position: relative;
    font-size: 1.5rem;
    font-style: italic;
    justify-content: center;
}

#navidiv{

}

#kivalasztott{
    opacity: 0;
}

#mapframe{
    margin: auto;
    display: block;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.0);
}

#map{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#map1{
    position: relative;
    float: left;
    border: white 8px solid;
}

#map2{
    position: absolute;
    float: left;
    top: 8px;
    left: 9px;
}

#map2:hover{
    cursor: pointer;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
}

#map3{
    top: 128px;
    left: 88px;
    position: absolute;
    float: left;
}


.epu{
    position: absolute;
    float: left;
}

.epu:hover{
    filter: brightness(0.5);
    cursor: pointer;
}


.selected{
    filter: invert(90%)!important;
}

.selectedmap{
    left: 9px!important;
    top:8px!important;
}


/*Galléria*/


#gallery{
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
    margin: 5%;
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 0;
}


.handle{
    color: white;
    display: inline;
    padding-top:    90px;
    padding-bottom: 90px;
    padding-right:  10px;
    padding-left:   10px;
    position: relative;
    top: -113px;
    height: 80px;
    background-color: black;
    cursor: pointer;
}

#galjobb{
    left: 43%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#galbal{
    right: 43%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



.kep{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100px;
    height: auto;
    width: 200px;
    display: inline-block;
    float: none;
    background-color: black;
    border: 2px black solid;
}

.kep:hover{
    cursor: pointer;
    border: 4px rgba(200, 255, 0, 1);
}


.kep2{
    position: fixed;
    min-width: 1000px;
    height: auto;
    width:  100%;
    float: none;
    border: 2px black solid;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.9);
    border-radius: 40px;
}

.kep2:hover{
    cursor: pointer;
}

.galhid{
    display: none;
}

#alap01{
    background-image: url("gallery/alap/01.png");
}
#alap02{
    background-image: url("gallery/alap/02.jpg");
}
#alap03{
    background-image: url("gallery/alap/03.jpg");
}
#alap04{
    background-image: url("gallery/alap/04.jpg");
}
#alap05{
    background-image: url("gallery/alap/05.jpg");
}
#alap06{
    background-image: url("gallery/alap/06.jpeg");
}
#alap07{
    background-image: url("gallery/alap/07.jpg");
}

/*A épület képek*/
#A01{
    background-image: url("gallery/A/01.jpg");
}
#A02{
    background-image: url("gallery/A/02.jpg");
}
#A03{
    background-image: url("gallery/A/03.jpg");
}

/*A lépcső képek*/
#Al01{
    background-image: url("gallery/Al/01.jpg");
}

/*B épület képek*/
#B01{
    background-image: url("gallery/B/01.jpg");
}
#B02{
    background-image: url("gallery/B/02.jpg");
}
#B03{
    background-image: url("gallery/B/03.jpg");
}


/*C épület képek*/
#C01{
    background-image: url("gallery/C/01.jpg");
}
#C02{
    background-image: url("gallery/C/02.jpg");
}
#C03{
    background-image: url("gallery/C/03.jpg");
}

/*C lépcső képek*/
#Cl01{
    background-image: url("gallery/Cl/01.jpg");
}
#Cl02{
    background-image: url("gallery/Cl/02.jpg");
}

/*Tornaterem képek*/
#tterem01{
    background-image: url("gallery/tterem/01.jpg");
}
#tterem02{
    background-image: url("gallery/tterem/02.jpg");
}
