

main{
    max-width: 1280px;
    background-color: green;
    background-size: cover;
    text-align: center;
    color: white;
}

#embed{
    background-color: green;
    max-width: 100%;
    margin: auto;
}


#mapframe{
    margin: auto;
    display: block;
    height: 100vh;
    width: 100%;
    border: none;
    background-color: rgba(0,0,0,0.0);
}

#map{
    position: relative;
}

#map1{
    position: relative;
    float: left;
    border: white 8px solid;
}

#map2{
    position: absolute;
    float: left;
    top: 128px;
    left: 88px;
}

#map2:hover{
    filter: brightness(1.50);
}

#map3{
    top: 128px;
    left: 88px;
    position: absolute;
    float: left;
}


.epu{
    position: absolute;
    float: left;
}

.epu:hover{
    filter: opacity(0.7);
}

/*Alrészek*/
#tterem{
    top: 408px;
    left: 88px;
}

#A{
    top: 138px;
    left: 108px;
}

#Al{
    top: 198px;
    left: 258px;
}

#B{
    top: 128px;
    left: 303px;
}

#Bl{
    top: 248px;
    left: 445.8px;
}

#C{
    top: 140px;
    left: 702px;
}

#Cl{
    top: 155px;
    left: 642px;
}

#ebedlo{
    top: 298px;
    left: 418px;
}

#terasz{
    top: 253px;
    left: 623px;
}