/**
*   gallery.css
*
*   Itt találhatóak a főoldalon megjelenő kép galléria formázásai.
*   Csak az index.html-hez van hozzá kapcsolva. 
*/

#gallery{
    background-color: rgba(0,0,0,0.9);
    border-radius: 20px;
    margin: 5%;
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 0;
}


.handle{
    color: #ffffff;
    display: inline;
    padding-top:    90px;
    padding-bottom: 90px;
    padding-right:  10px;
    padding-left:   10px;
    position: relative;
    top: -113px;
    height: 80px;
    background-color: #000000;
    cursor: pointer;
}

#galjobb{
    left: 43%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#galbal{
    right: 43%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*
    A kep a kis méretű kép, a kep2 a kiemelt, nagy méretű
*/

.kep{
    position: relative;
    display: inline-block;
    max-width:400px;
    max-height:400px;
    width: auto;
    object-fit: cover;
    background-color: #000000;
    border: 2px #000000 solid;
}

.kep:hover{
    cursor: pointer;
    border: 4px rgba(200, 255, 0, 1);
}


.kep2{
    position: fixed;
    min-width: 1000px;
    height: auto;
    width:  100%;
    float: none;
    border: 2px #000000 solid;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.9);
    border-radius: 40px;
}

.kep2:hover{
    cursor: pointer;
}

.galhid{
    display: none;
}
